= simple_form_for @pic, html: { multipart: true } do |f|
 .form-group
  = f.input :title, class:"form-control"
 .form-group
  = f.input :description, class:"form-control"
 .form-group
  = f.button :submit, class:"btn btn-info"
 = link_to "Home", root_path, class:"btn btn-dark"
