%section.row.w-100.d-flex.justify-content-center
 - @pics.each do |pic|
  .col-md-7.card.p-0.m-2
   .w-100.text-center.bg-light.p-3
    %h1= link_to pic.title, pic_path(pic),class:"text-info"
   .card-body
    .w-100.text-center
     = image_tag pic.avatar, class:"w-100"
    .w-100.tex-left
     %p= truncate(pic.description, length: 200)
    .w-100
     = link_to "Show Pic", pic_path(pic), class:"btn btn-info"
 .w-100.d-flex.justify-content-center
  - if user_signed_in?
   = link_to "New Pic", new_pic_path, class:"btn btn-md btn-primary"
